@font-face {
    font-family: 'SeeYngping';
    src: url('fonts/SeeYngping-Regular.woff2') format('woff2'),
         url('fonts/SeeYngping-Regular.woff') format('woff'),
         url('fonts/SeeYngping-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0020, U+0041-005A, U+0061-007A, U+00E0-00E2, U+00E8-00EE, U+00F2-00F4, U+00F6, U+00F9-00FC, U+0101, U+0113, U+011B, U+012B, U+014D, U+016B, U+01CE, U+01D0, U+01D2, U+01D4, U+01D6, U+01D8, U+01DA, U+01DC, U+02E5-02E9, U+0300-0302, U+0304, U+0306, U+0308, U+030C, U+0323-0324, U+2009, U+A708-A716;
}

@font-face {
    font-family: 'SeeYngping';
    src: url('fonts/SeeYngping-Bold.woff2') format('woff2'),
         url('fonts/SeeYngping-Bold.woff') format('woff'),
         url('fonts/SeeYngping-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    unicode-range: U+0020, U+0041-005A, U+0061-007A, U+00E0-00E2, U+00E8-00EE, U+00F2-00F4, U+00F6, U+00F9-00FC, U+0101, U+0113, U+011B, U+012B, U+014D, U+016B, U+01CE, U+01D0, U+01D2, U+01D4, U+01D6, U+01D8, U+01DA, U+01DC, U+02E5-02E9, U+0300-0302, U+0304, U+0306, U+0308, U+030C, U+0323-0324, U+2009, U+A708-A716;
}
